body {
  font-family: sans-serif;
  color: rgb(255, 255, 255);
  text-align: center;
  background-image: url('https://images.unsplash.com/photo-1534796636912-3b95b3ab5986?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=751&q=80');
}

a {
  text-decoration: none;
  color: #df5960;
}

a:hover {
  color: rgb(255, 255, 255);
  font-weight: bolder;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  padding-left: 2em;
}

nav {
  align-items: center;
  background-color: #151b16;
  color: #ffffff;
  font-size: 1.1em;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  position: fixed;
  top: 0px;
  width: 100%;
  margin-left: -20px;
  height: 60px;
  padding: 10px;
}

h1 {
  color: #ffffff;
}

button {
  background-color: #df5960;
  font-weight: bolder;
  padding: 7px;
  color: rgb(255, 255, 255);
  border-radius: 5px;
}

button:hover {
  background-color: rgb(93, 98, 102);
}

.products {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-content: center;
}

.solo-product {
  padding: 1em;
  margin: 1em;
  border-radius: 4px;
  text-align: left;

  background-color: rgb(21, 22, 27);
  color: #ffffff;
  flex: 0 0 1em;
  width: 425px;
  align-items: left;
}
